<html lang="en">

<head>
    <link rel="stylesheet" href="style.css" />
    <title>Browser</title>

    <style>
        p {
            color: red;
            font-size: 20px;
            background-color: yellow;
        }
    </style>

</head>

<body>
    <p>This is a paragraph</p>
</body>

</html>
